button.logout-button[mat-button] {
  color: white;

  background-color: #cb2301;

  border-radius: 4px;
  padding: 0.5px 1rem;
  margin: 0px 0.5rem;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
