<app-navbar />

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form
    (ngSubmit)="onSubmit()"
    #bookForm="ngForm"
    class="bg-white p-8 rounded shadow-md w-full max-w-md space-y-4"
  >
    <h2 class="text-2xl font-semibold text-center">Update Book</h2>

    <div>
      <label class="block mb-1 font-medium">Title</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="title"
        required
        placeholder="e.g. Madilog"
        class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400"
      />
    </div>

    <div>
      <label class="block mb-1 font-medium">Author</label>
      <input
        type="text"
        name="author"
        [(ngModel)]="author"
        required
        placeholder="e.g. Tan Malaka"
        class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-yellow-600 text-white p-2 rounded hover:bg-yellow-700 transition"
    >
      Update Book
    </button>

    <p *ngIf="errorMessage" class="text-red-600 text-sm text-center">
      {{ errorMessage }}
    </p>
  </form>
</div>
